

<br><br>
<br><br><div class="page-header">
    <h1 style="color: floralwhite ">{{main.username}}'s Profile</h1>
</div>
<!-- <div class="panel panel-info">
    <div class="panel-heading" style="text-align:center;"><strong>User Profile</strong></div>

    <table class="table">
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Password</td>
            </tr>
            <tr>
                <td>{{main.username}}</td>
                <td>{{main.useremail}}</td>
                <td>****************</td>
            </tr>
        </table> -->

        <div class="container" style="background:white">
            <br><br>
                <div class="row m-y-2">
                    <!-- edit form column -->
                    <div class="col-lg-4 text-lg-center">
                        <h2>Edit Profile</h2>
                        <div class="col-lg-4 pull-lg-8 text-xs-center">
                                <img src="assets/images/user.png" class="m-x-auto img-fluid img-circle" alt="avatar" />
                                <!-- <h6 class="m-t-2">Upload a different photo</h6>
                                <label class="custom-file">
                                  <input type="file" id="file" class="custom-file-input">
                                  <span class="custom-file-control">Choose file</span>
                                </label> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>
                            This is an <strong>.alert</strong>. Use this to show important messages to the user.
                        </div>
                    </div> -->
                    <div class="col-lg-8 push-lg-4 personal-info">
                         <form role="form">
                            
                                <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="{{main.username}}" />
                                        </div>
                                    </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" value="{{main.useremail}}" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Company</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="Tata Consultancy Services" />
                                </div>
                            </div>
                            
                            
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="11111122333" />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel" />
                                    <input type="button" class="btn btn-primary" value="Save Changes" />
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            <hr />

</div>
